@use "@coreui/coreui/scss/coreui" as * with ( 
  $enable-deprecation-messages: false,
);
@use "@coreui/chartjs/scss/coreui-chartjs";
@use "vendors/simplebar";

body {
  background-color: var(--cui-tertiary-bg);
   font-family: 'Roboto', !important;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 100% !important;
}

select, input, td, tr {
  font-family: 'Roboto' , !important;
  font-size: 12px !important;
}



.wrapper {
  width: 100%;
  padding-inline: var(--cui-sidebar-occupy-start, 0) var(--cui-sidebar-occupy-end, 0);
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  margin-inline-start: auto;
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    margin-inline-end: auto;
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  display: none;
  //min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

@include color-mode(dark) {
  body {
    background-color: var(--cui-dark-bg-subtle);
  }

  .footer {
    --cui-footer-bg: var(--cui-body-bg);
  }
}


.header{
  /* COLOR DE LA BARRA SUPERIOR */
  --cui-header-bg: #67baec !important;
  --cui-header-color: rgb(255 255 255 / 85%);
}


 .sidebar-nav{
  --cui-sidebar-nav-link-icon-color: #6b7785!important;
    /*COLOR DE LOS SUBTITULOS DE AGRUPACIONES*/
    --cui-tertiary-color: rgb(105, 108, 110);

 }

/*5a75c0 */
.sidebar-dark {
  /*COLOR DE LAS LETRAS*/
  --cui-body-color: rgba(89, 95, 97, 0.87)  !important;
  /*BACKGROUND*/
  --cui-body-bg: #fff !important;
  /*COLOR DE LAS LINEAS DE BORDE*/
  --cui-border-color: #bbbec7 !important;  
  /*COLOR DE LOS ICONOS DEL ITEM SELECCIONADO*/
  --cui-emphasis-color: #4e4e4e!important;
}
.sidebar-nav .nav-link.active {
  /*COLOR DE LETRA DEL ICONO SELECCIONADO*/
  --cui-sidebar-nav-link-active-color: #4e4e4e !important;
  /*COLOR DEL FONDO DEL ICONO SELECCIONADO*/
  --cui-sidebar-nav-link-active-bg:rgba(89, 95, 97, 0.1)  !important;
}

.sidebar-nav .nav-link:hover {
  /*COLOR DEL FONDO DEL ICONO HOVER*/
 background-color: rgba(89, 95, 97, 0.1)  !important;
  /*COLOR DE LETRA DEL ITEM HOVER*/
  color: rgba(80, 82, 83, 0.9)  !important;
  --cui-sidebar-nav-link-active-bg: #19233d !important;
}


.loading.cover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loading.cover-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading .ant-spin {
  color: #3e79f7;
}


.css-14vsxfy {
  margin-top: 45px !important;
}


.ant-divider-inner-text{
   margin-bottom: -10px !important;
}

.ant-form-item{
   margin-bottom: 10px !important;
}

.rbt-aux .btn-close {
    color: transparent;
}

.rbt-close-content{
 right: 0.75rem !important;
}

.loading.cover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loading.cover-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading .ant-spin {
  color: #3e79f7;
}
/* 5856d6  514fdf */
.ant-btn-primary {
  background-color: #5575cc !important;
  border-color: #5f82e2 !important;
}
.ant-btn-primary:hover {
  background-color: #3634b9 !important;
  border-color: #37359e !important;
}
.ant-input[readonly] {
  background-color: #f0f0f0 !important;
}

.css-14vsxfy {
  margin-top: 45px !important;
}


.ant-divider-inner-text{
   margin-bottom: -10px !important;
}

.ant-form-item{
   margin-bottom: 10px !important;
}

.ant-form-item-label{
   margin-bottom: -5px !important;
}


.leaflet-container {
  width: 100% !important;
  height: 580px !important;
}

.custom-marker .marker-number {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 30%;
  width: 35px;
  height: 25px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.bg-primary {
  background-color: #5575cc !important;
  color: white!important;
}

.table-bordered{
  background-color: #ffffff;
      border-color:#5575cc;
}